$--color-primary: #3CB04B;
$--color-success: #3CB04B;
$--color-warning: #FFAB4F;
$--color-danger: #EE423D;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
