// $theme_color: #1F8EFA;

$theme_color: #3cb04b;
$theme_bg: #ffffff;
$card_bg: #f2f8ff;
$aside_bg: #eeeff2;
$nav_selected: #131A27;
$default_color: #333333;
$border_color: #f2f2f2;
$table_color: #666666;
$table_bg: #fafafa;
$nav_bg: #f0f4f8;
$input_bg: #ffffff;
$disable_color: #aaaaaa;

$theme_blue: #1F8EFA;
$theme_red: #EE423D;
$theme_orange: #FFAB4F;
$theme_green: #3cb04b;
$theme_zi: #843FA0;
$theme_gray: #cccccc;

$padding: 15px;

// $radius: 0;
$radius: 4px;
$navigation_width: 180px;
$navigation_mini_width: 50px;
$sidebar_width: 300px;

$border: 1px solid $border_color;

// 临界点
$xl: 1200px;
// ipad
$lg: 992px;
// 宽屏手机/小ipad
$md: 768px;
// 小屏手机
$sm: 576px;
$xs: 0;